@import url('https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap');
@import url ('https://fonts.googleapis.com/css2?family=Cormorant&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #233942;
}
header {
    background-color: white;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-size: 16px;
    font-weight: 400;
    color: #233942;
}
.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.nav-logo img {
    height: 117px;
    width: 181px;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

}

/* ============== header end ==========================  */
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.mainLandsacap {
    margin: 44px 34px;
    display: flex;
    width: calc(100% - 44px);
    flex-wrap: wrap;
    height: 200px;
    /* background-color: red; */
    justify-content: space-around;
    align-items: center;
}

.landChild {
    width: 50%;
}

.childOne {
    color: #FFF;
    font-family: 'Cormorant', serif;
    font-size: 90px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.chileTwo {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    width: 326px;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 144%;
    /* 31.68px */
    text-transform: capitalize;
}

/* ============ about us ==============  */
.about {
    width: 100%;
    height: 515px;
    background: #181D22;
    position: relative;
    bottom: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutChile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40%;
    color: #DCE1E8;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 32px */
    text-transform: capitalize;
}



.aboutChile h1 {
    color: #FFF;
    font-family: 'Cormorant', serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.aboutChile img {
    margin-top: 45px;
}

.aboutMain {
    flex-direction: column;
}

.main_about {
    display: none;
}

.tarif {
    margin-top: 47px;
    width: 100%;
}

.tarif h1 {
    color: #FFF;
    font-family: 'Cormorant', serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    margin-left: 68px;
    margin-bottom: 87px;
    line-height: normal;
    text-transform: uppercase;
}

.cardsMain {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 47px;
    flex-wrap: wrap;
}

.card {
    width: 350px;
    height: 500px;
    background: rgba(95, 93, 93, 0.12);
    backdrop-filter: blur(5px);
}

.cardHeading {
    color: #FFF;
    text-align: center;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-top: 30px;
}

.card_txt {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.44px;
}

.flex {
    display: flex;
}

.cardContent {
    justify-content: space-around;
    width: 100%;
}

.reservBtn {
    background: none;
    border: 1px solid white;
    outline: none;
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.52px;
    text-transform: capitalize;
    height: 70px;
    width: 200px;
}

.nbr {
    font-family: 'Cormorant', serif;
}

@media(max-width: 900px) {
    .landChild {
        width: 100%;
    }

    .childOne {
        font-size: 56px;
        text-align: center;
    }

    .about {
        height: 414px;
    }

    .aboutChile {
        font-size: 11px;
    }

    .aboutChile h1 {
        font-size: 36px;

    }

    .aboutChile img {
        width: 113px;
        height: 110px;
        flex-shrink: 0;
    }

    .none {
        display: none;
    }

    .main_about {
        display: block;
    }

    .main_about {
        margin-top: 44px;
        width: 300px;
        text-align: right;
    }

    .landscapImg {
        width: 100%;
    }

    .landscapImg img {
        width: 100%;
    }

    .tarif h1 {
        font-size: 64px;
        margin-left: 47px;
        margin-bottom: 33px;
    }
}
