body{
       background-color: #fff !important;
       width: 100%;
    }
.main_div{
  background-color: #233942;
  height: 1138px;
  width: 100%;
}
  
.portofolio{
  color: #FFF;
  font-family: Cormorant;
  font-size: 90px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.flex{
  display: flex;
}
.rght_main{
  flex-direction: column;
  gap: 50px
}
.gap{
  gap: 90px;
}
.left_img img{
  width: 280px;
  height: 644px;
}
.uper_first img{
  width: 534px;
  height: 302px;
}
.uper_second img{
  width: 221px;
  height: 309px;
}
.lower_first img{
  width: 311px;
  height: 309px;
}
.lower_second img{
  width: 350px;
  height: 276px;
}
.last_section{
  background: #181D22;
  height: 913px
  width: 100%;
  margin-top: -3px;
}
.third_first_img img{
  width: 422px;
  height: 316px;
}  
.third_second_img img{
  width: 199px;
  height: 274px;
}  
.third_last_img img{
  width: 477px;
  height: 694px;
}  
.second_main_section{
  gap: 80px;
  marging-left: 90px;
}
.side_first_img img{
  width: 186px;
  height: 322px;
}
.last_main{
  justify-content: center;
  margin-top: 50px
}
.side_second_img img{
  width: 405px;
  height: 322px;
}
.third_last_img{
  margin-top: -320px;
}
.side_first_img{
  margin-top: 50px;
}
.side_second_img{
  margin-top: 50px;
}
.last_left img{
  width: 907px;
  height: 349px;
}
.last_right img{
  width: 213px;
  height: 264px;
}
.last_right{
  margin-top: 80px;
  margin-left: 80px;
}
.mobilebox, .mob_flex, .mob_center{
  display: none;
}
@media(max-width : 900px){
.left_img, .right_main{
  width: 45%;
}
body{
  background-color: #233942!important;
}
.first_main{
  padding : 20px;
  gap: 14px;
}
.uper_first, .third_main, .side_second_img{
  display: none;
}
.left_img img{
  width: 178px;
  height: 424px;
}
.first_section, .uper_img, uper_second, .third_main{
  width: 100%
}
.uper_second img{
  width: 135px;
  height: 202px;
}
.portofolio{
  font-size: 50px;
}
.uper_second{
  margin-left: 14px;
  height: 440px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.third-last_img{
  margin-top : 0px;
  text-align: end;
  margin-right: 18px;
}
.lower_second img{
  display: none;
}
.lower_first img{
  width: 208px;
  height: 194px;
  position: relative;
  right: 16px;
 } 
.right_main{
  gap: 0px
 }
.portofolio{
  text-align: center;
}
.mobilebox{
  display: block;
  width: 100%;
  height: 203px;
  padding: 18px;
}
.mobilebox img{
  width: 100%;
  height: 100px;
}
.third_main, last_section{
  background-color: #233942;
}
.second_main_section{
  margin-left: 17px;
  flex-direction: column;
}
.third_lastimg img{
  width: 219%;
  height: 292px;
}
.mob_flex{
  width: 80%;
  display: flex;
  margin: auto;
  justify-content: space-between;
  align-items: baseline;
/*  gap:59px;*/
}
.left_mob_img img{
  width: 173%;
  height: 131px;
} 
.right_mob_img img{
  width: 112px;
  height: 154px;
} 
.mob_center{
  display: flex;
  justify-content: center;
  margin-top: 20px;
} 
.mob_center img{
  width: 234px;
  height: 169px;
}
.last_main{
  flex-direction: column;
  margin-top: 19px;
  gap: 0px
}
.last_left{
  display: flex;
  justify-content: center;
}
.last_left img{
  width: 361px;
  height: 135px;
}
.last_right{
  display: flex;
  justify-content: end;
  margin-right: 20px;
}
.last_right img{
  margin-top: -50px;
  margin-bottom: 30px;
  width: 120px;
  height: 172px;
}
}


